
.carte .esperluette{
	width: 10em;
	object-fit: cover;
	margin: auto;
}

.carte .angle{
	margin: 0.35em -10em 0em 0.35em;
	width: 5em;
	float: left;
}

.carte .angle180{
	width: 5em;
	float: right;
	margin: -1.5em 0.35em 0.35em 0em;
}

.carte .anglePetit{
	margin: 0.25em;
	width: 1em;
	float: left;
}

.carte .anglePetit180{
	width: 1em;
	float: right;
	margin: -0.15em 0.25em 0.25em -0.25em;
}

.carte .icons{
	/*overflow: visible;*/
	/*images des réseaux sociaux*/
	width: 0.7em;
	/*translate: 0 0.4em;*/
	/*margin-right: 0.5em;*/
}
